.hyperlink,
.hyperlink:visited {
    -fx-text-fill: #30a5dd;
}

.btn-r {
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}

.btn-r:hover {
    -fx-cursor: hand;
}

.btn-blue {
    -fx-background-color: #1e65bb;
}


.btn-green {
    -fx-background-color: green;
}

.btn-red {
    -fx-background-color: #c62828;
}

.btn-pink {
    -fx-background-color: #ffc0cb;
}

.text-field, .password-field, .text-area, .choice-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #6d6d6d;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

.choice-box {
    -fx-font-size: 14px;
}